server:
  port: ${PORT:8080}

spring:
  application:
    name: AUTH-SERVICE

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 2      # was 10 by default
      minimum-idle: 1
      idle-timeout: 600000      # 10 min
      max-lifetime: 1800000     # 30 min
      connection-timeout: 30000 # 30 sec

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  cloud:
    config:
      enabled: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}

  instance:
    prefer-ip-address: true
