server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**

        - id: study-service
          uri: lb://study-service
          predicates:
            - Path=/api/study/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
